package {{.PackageName}}

import (
    "base/core/module"
    "base/app/models"

    "github.com/gin-gonic/gin"
    "gorm.io/gorm"
)

type {{.StructName}}Module struct {
    module.DefaultModule
    DB         *gorm.DB
    Controller *{{.StructName}}Controller
    Service    *{{.StructName}}Service
}

func New{{.StructName}}Module(db *gorm.DB, router *gin.RouterGroup) module.Module {
    service := New{{.StructName}}Service(db)
    controller := New{{.StructName}}Controller(service)

    {{.LowerStructName}}Module := &{{.StructName}}Module{
        DB:         db,
        Controller: controller,
        Service:    service,
    }

    {{.LowerStructName}}Module.Routes(router)
    {{.LowerStructName}}Module.Migrate()

    return {{.LowerStructName}}Module
}
 


func (m *{{.StructName}}Module) Routes(router *gin.RouterGroup) {
	m.Controller.Routes(router)
}

func (m *{{.StructName}}Module) Migrate() error {
	return m.DB.AutoMigrate(&models.{{.StructName}}{})
}

func (m *{{.StructName}}Module) GetModels() []interface{} {
    return []interface{}{&models.{{.StructName}}{}}
}