package models

import (
    "time"
    "gorm.io/gorm"
)

 

type {{.StructName}} struct {
    gorm.Model
    {{- range .Fields}}
    {{- if eq .Relationship "belongs_to"}}
    {{.Name}}ID uint `json:"{{.JSONName}}" gorm:"column:{{.DBName}}"`
    {{.AssociatedType}} *{{.AssociatedType}} `json:"{{.Name | toLower}},omitempty" gorm:"foreignKey:{{.Name}}ID"`
    {{- else if eq .Relationship "has_one"}}
    {{.AssociatedType}} *{{.AssociatedType}} `json:"{{.JSONName}},omitempty" gorm:"foreignKey:{{$.StructName}}ID"`
    {{- else if eq .Relationship "has_many"}}
    {{.AssociatedType}} []{{.AssociatedType}} `json:"{{.JSONName}},omitempty" gorm:"foreignKey:{{$.StructName}}ID"`
    {{- else}}
    {{.Name}} {{.Type}} `json:"{{.JSONName}}" gorm:"column:{{.DBName}}"`
    {{- end}}
    {{- end}}
}

type Create{{.StructName}}Request struct {
    {{- range .Fields}}
    {{- if eq .Relationship "belongs_to"}}
    {{.Name}}ID uint `json:"{{.JSONName}}"`
    {{- else if ne .Relationship "has_many"}}
    {{.Name}} {{.Type}} `json:"{{.JSONName}}"`
    {{- end}}
    {{- end}}
}

type Update{{.StructName}}Request struct {
    {{- range .Fields}}
    {{- if eq .Relationship "belongs_to"}}
    {{.Name}}ID *uint `json:"{{.JSONName}},omitempty"`
    {{- else if ne .Relationship "has_many"}}
    {{.Name}} *{{.Type}} `json:"{{.JSONName}},omitempty"`
    {{- end}}
    {{- end}}
}

type {{.StructName}}Response struct {
    ID        uint      `json:"id"`
    CreatedAt time.Time `json:"createdAt"`
    UpdatedAt time.Time `json:"updatedAt"`
    {{- range .Fields}}
    {{- if eq .Relationship "belongs_to"}}
    {{.Name}}ID uint `json:"{{.JSONName}}"`
    {{.Name}} *{{.AssociatedType}}Response `json:"{{.Name | toLower}},omitempty"`
    {{- else if eq .Relationship "has_one"}}
    {{.AssociatedType}}Response *{{.AssociatedType}}Response `json:"{{.JSONName}},omitempty"`
    {{- else if eq .Relationship "has_many"}}
    {{.PluralType}} []{{.AssociatedType}}Response `json:"{{.JSONName}},omitempty"`
    {{- else}}
    {{.Name}} {{.Type}} `json:"{{.JSONName}}"`
    {{- end}}
    {{- end}}
}

func ({{.StructName}}) TableName() string {
    return "{{.TableName}}"
}

func (item *{{.StructName}}) ToResponse() *{{.StructName}}Response {
    if item == nil {
        return nil
    }

    response := &{{.StructName}}Response{
        ID:        item.ID,
        CreatedAt: item.CreatedAt,
        UpdatedAt: item.UpdatedAt,
        {{- range .Fields}}
        {{- if eq .Relationship "belongs_to"}}
        {{.Name}}ID: item.{{.Name}}ID,
        {{.Name}}: item.{{.Name}}.ToResponse(),
        {{- else if eq .Relationship "has_one"}}
        {{.AssociatedType}}Response: item.{{.AssociatedType}}.ToResponse(),
        {{- else if eq .Relationship "has_many"}}
        {{.PluralType}}: make([]{{.AssociatedType}}Response, len(item.{{.AssociatedType}})),
        {{- else}}
        {{.Name}}: item.{{.Name}},
        {{- end}}
        {{- end}}
    }

    {{- range .Fields}}
    {{- if eq .Relationship "has_many"}}
    for i, v := range item.{{.AssociatedType}} {
        if v != nil {
            response.{{.PluralType}}[i] = *v.ToResponse()
        }
    }
    {{- end}}
    {{- end}}

    return response
}

func (item *{{.StructName}}) Preload(db *gorm.DB) *gorm.DB {
    {{- range .Fields}}
    {{- if or (eq .Relationship "belongs_to") (eq .Relationship "has_one") (eq .Relationship "has_many")}}
    db = db.Preload("{{.Name}}")
    {{- end}}
    {{- end}}
    return db
}