package models

import (
    "time"
    "gorm.io/gorm"
)
type {{.StructName}} struct {
    gorm.Model
    {{- range .Fields}}
    {{- if or (eq .Relationship "belongs_to") (eq .Relationship "belongsTo")}}
    {{.Name}}ID uint `json:"{{.JSONName}}" gorm:"column:{{.DBName}}"`
    {{.Name}} *{{.AssociatedType}} `json:"{{.Name | toLower}},omitempty" gorm:"foreignKey:{{.Name}}ID"`
    {{- else if or (eq .Relationship "has_one") (eq .Relationship "hasOne")}}
    {{.Name}} *{{.AssociatedType}} `json:"{{.JSONName}},omitempty" gorm:"foreignKey:{{$.StructName}}ID"`
    {{- else if or (eq .Relationship "has_many") (eq .Relationship "hasMany")}}
    {{.Name}} []*{{.AssociatedType}} `json:"{{.JSONName}},omitempty" gorm:"foreignKey:{{$.StructName}}ID"`
    {{- else}}
    {{.Name}} {{.Type}} `json:"{{.JSONName}}" gorm:"column:{{.DBName}}"`
    {{- end}}
    {{- end}}
}

type Create{{.StructName}}Request struct {
    {{- range .Fields}}
    {{- if or (eq .Relationship "belongs_to") (eq .Relationship "belongsTo")}}
    {{.Name}}ID uint `json:"{{.JSONName}}"`
    {{- else if ne (or (eq .Relationship "has_many") (eq .Relationship "hasMany")) true }}
    {{.Name}} {{.Type}} `json:"{{.JSONName}}"`
    {{- end}}
    {{- end}}
}

type Update{{.StructName}}Request struct {
    {{- range .Fields}}
    {{- if or (eq .Relationship "belongs_to") (eq .Relationship "belongsTo")}}
    {{.Name}}ID *uint `json:"{{.JSONName}},omitempty"`
    {{- else if ne (or (eq .Relationship "has_many") (eq .Relationship "hasMany")) true }}
    {{.Name}} *{{.Type}} `json:"{{.JSONName}},omitempty"`
    {{- end}}
    {{- end}}
}

type {{.StructName}}Response struct {
    ID        uint      `json:"id"`
    CreatedAt time.Time `json:"createdAt"`
    UpdatedAt time.Time `json:"updatedAt"`
    {{- range .Fields}}
    {{- if or (eq .Relationship "belongs_to") (eq .Relationship "belongsTo")}}
    {{.Name}}ID uint `json:"{{.JSONName}}"`
    {{.Name}} *{{.AssociatedType}}Response `json:"{{.Name | toLower}},omitempty"`
    {{- else if or (eq .Relationship "has_one") (eq .Relationship "hasOne")}}
    {{.Name}} *{{.AssociatedType}}Response `json:"{{.JSONName}},omitempty"`
    {{- else if or (eq .Relationship "has_many") (eq .Relationship "hasMany")}}
    {{.Name}} []{{.AssociatedType}}Response `json:"{{.JSONName}},omitempty"`
    {{- else}}
    {{.Name}} {{.Type}} `json:"{{.JSONName}}"`
    {{- end}}
    {{- end}}
}
func ({{.StructName}}) TableName() string {
    return "{{.TableName}}"
}

func (item *{{.StructName}}) ToResponse() *{{.StructName}}Response {
    if item == nil {
        return nil
    }

    response := &{{.StructName}}Response{
        ID:        item.ID,
        CreatedAt: item.CreatedAt,
        UpdatedAt: item.UpdatedAt,
        {{- range .Fields}}
        {{- if or (eq .Relationship "belongs_to") (eq .Relationship "belongsTo")}}
        {{.Name}}ID: item.{{.Name}}ID,
        {{.Name}}: item.{{.Name}}.ToResponse(),
        {{- else if or (eq .Relationship "has_one") (eq .Relationship "hasOne")}}
        {{.Name}}: item.{{.Name}}.ToResponse(),
        {{- else if or (eq .Relationship "has_many") (eq .Relationship "hasMany")}}
        {{.Name}}: make([]{{.AssociatedType}}Response, len(item.{{.Name}})),
        {{- else}}
        {{.Name}}: item.{{.Name}},
        {{- end}}
        {{- end}}
    }

    {{- range .Fields}}
    {{- if or (eq .Relationship "has_many") (eq .Relationship "hasMany")}}
    for i, v := range item.{{.Name}} {
        if v != nil {
            response.{{.Name}}[i] = *v.ToResponse()
        }
    }
    {{- end}}
    {{- end}}

    return response
}

func (item *{{.StructName}}) Preload(db *gorm.DB) *gorm.DB {
    {{- range .Fields}}
    {{- if or (eq .Relationship "belongs_to") (eq .Relationship "belongsTo") (eq .Relationship "has_one") (eq .Relationship "hasOne") (eq .Relationship "has_many") (eq .Relationship "hasMany")}}
    db = db.Preload("{{.Name}}")
    {{- end}}
    {{- end}}
    return db
}
