package {{.PackageName}}

import (
	"base/app/models"
	"gorm.io/gorm"
)

type {{.StructName}}Seeder struct{}

func (s *{{.StructName}}Seeder) Seed(db *gorm.DB) error {
	{{.LowerPluralStructName}} := []models.Create{{.StructName}}Request{
		{
			{{- range .SeederFields}}
			{{- if eq .Relationship "belongs_to"}}
			{{.Name}}ID: {{.DefaultValue}},
			{{- else if eq .Relationship ""}}
			{{.Name}}: {{.DefaultValue}},
			{{- end}}
			{{- end}}
		},
		{
			{{- range .SeederFields}}
			{{- if eq .Relationship "belongs_to"}}
			{{.Name}}ID: {{.DefaultValue}},
			{{- else if eq .Relationship ""}}
			{{.Name}}: {{.DefaultValue}},
			{{- end}}
			{{- end}}
		},
	}

	for _, req := range {{.LowerPluralStructName}} {
		{{.LowerStructName}} := models.{{.StructName}}{
			{{- range .SeederFields}}
			{{- if eq .Relationship "belongs_to"}}
			{{.Name}}ID: req.{{.Name}}ID,
			{{- else if eq .Relationship ""}}
			{{.Name}}: req.{{.Name}},
			{{- end}}
			{{- end}}
		}
		if err := db.Create(&{{.LowerStructName}}).Error; err != nil {
			return err
		}
	}
	return nil
}